<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-sammeth" version="1.0.0"
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>SamMeth</name>
    <js-module name="SamMeth" src="www/SamMeth.js">
        <clobbers target="SamMeth" />
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="SamMeth">
                <param name="android-package" value="cordova-plugin-sammeth.SamMeth" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml" />
        <source-file src="src/android/SamMeth.java" target-dir="src/cordova-plugin-sammeth/SamMeth" />
    </platform>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="SamMeth">
                <param name="ios-package" value="SamMeth" />
            </feature>
        </config-file>
        <source-file src="src/ios/SamMeth.m" />
    </platform>
</plugin>